{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "auto"
}
